@tailwind base;
@tailwind components;
@tailwind utilities;

.rdt_TableWrapper,
.rdt_Table,
.rdt_TableHead,
.rdt_TableHeadRow,
.rdt_TableBody {
  overflow: visible !important;
}

@layer utilities {
  .rdt_Pagination .rdt_PaginationButton,
  .rdt_Pagination .rdt_PaginationControl {
    @apply text-gray-300 !important;
  }
  .rdt_Pagination .rdt_PaginationButton svg,
  .rdt_Pagination .rdt_PaginationControl svg,
  .rdt_Pagination .rdt_PaginationButton svg path,
  .rdt_Pagination .rdt_PaginationControl svg path {
    stroke: theme('colors.gray.300') !important;
    fill:   theme('colors.gray.300') !important;
  }
}

/** Thoses styles modify the hidrology map tooltip */
.leaflet-popup-content-wrapper {
  border-radius: 12px !important;
  box-shadow: 0 0 8px rgba(39, 38, 38, 0.3) !important;
  background-color: #1f1f1f !important;
  border: 1px solid #3a3a3a;

  * {
    color: #fafafa !important;
  }
}
